﻿@model Programacion.Models.Categoria

@{
    ViewBag.Title = "Create";
}

<div id="contact" class="content-section" >
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="section-title">REGISTRAR CATEGORIA DE PRODUCTO</h1>
            </div> <!-- /.col-md-12 -->
        </div> <!-- /.row -->

     <form method="post" style="background-color: #D8F6CE; width: 500px; margin: 0 auto">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()


                @Html.ValidationSummary(true)
                <br />
                <br />

                <fieldset class="col-md-12 text-center">
                    @Html.LabelFor(model => model.Nombre, new { @class = "control-label col-md-2" })
                    @Html.EditorFor(model => model.Nombre)
                    @Html.ValidationMessageFor(model => model.Nombre)
               </fieldset>

                <fieldset class="col-md-12 text-center">
                    <input type="submit" value="REGISTRAR" class="button" />
                </fieldset>

            }

             <fieldset class="col-md-12 text-center">
                 @Html.ActionLink(" IR A LA LISTA DE CATEGORIAS", "Index")
             </fieldset>
         <br />
     </form>
            <br />
            <br />
        
  </div>
</div>


        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
