﻿@model Programacion.Models.Categoria

@{
    ViewBag.Title = "Delete";
}

<div id="contact" class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="section-title">ELIMINAR CATEGORIA DE PRODUCTO</h1>
            </div> <!-- /.col-md-12 -->
        </div> <!-- /.row -->
        <div style="background-color: #D8F6CE; width: 700px; margin: 0 auto">

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nombre)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
            <h3>¿Seguro que quieres eliminar la categoria?</h3>
            <br />
    <div class="form-actions no-color" style="background-color: #D8F6CE; width: 500px; margin: 0 auto">
        <input type="submit" value="ELIMINAR" class="button" /> |
        @Html.ActionLink("VOLVER A LA LISTA", "Index")
    </div>
            }
        </div>
        <br />
        <br />
        <br />
        <br />
    </div>
 </div>

