﻿@model Programacion.Models.Categoria

@{
    ViewBag.Title = "Details";
}

<div id="contact" class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="section-title">DETALLE CATEGORIA DE PRODUCTO</h1>
            </div> <!-- /.col-md-12 -->
        </div> <!-- /.row -->

        <div class="form-group" style="background-color: #D8F6CE; width: 800px; margin: 0 auto">
            <br />
            <br />
            <div class="col-md-offset-2 col-md-10">

                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Nombre)
                    </dd>

                </dl>
            </div>
        </div>
       
        <div class="form-group" style="background-color: #D8F6CE; width: 500px; margin: 0 auto">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("EDITAR", "Edit", new { id = Model.Id }) ||
                @Html.ActionLink("VOLVER A LA LISTA", "Index")
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>
 </div>

