﻿@model Programacion.Models.Categoria

@{
    ViewBag.Title = "Edit";
}

<div id="contact" class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="section-title">ACTUALIZAR CATEGORIA DE PRODUCTO</h1>
            </div> <!-- /.col-md-12 -->
        </div> <!-- /.row -->
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

    <div class="form-horizontal" style="background-color: #D8F6CE; width: 500px; margin: 0 auto">

        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Nombre, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nombre)
                @Html.ValidationMessageFor(model => model.Nombre)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="ACTUALIZAR" class="button" />
            </div>
        </div>
    </div>
        }

        <div class="form-group" style="background-color: #D8F6CE; width: 500px; margin: 0 auto">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink(" VOLVER A LA LISTA", "Index")
            </div>
        </div>
        <br />
        <br />
    </div>
  </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
