﻿@model IEnumerable<Programacion.Models.Categoria>

@{
    ViewBag.Title = "Index";
}

<div id="contact" class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="section-title">LISTA DE CATEGORIA DE PRODUCTO</h1>
            </div> <!-- /.col-md-12 -->
        </div> <!-- /.row -->

        <p style="background-color: #D8F6CE; width: 500px; margin: 0 auto">@Html.ActionLink("REGISTRAR", "Create")</p>
        <table class="table" style="background-color: #D8F6CE; width: 500px; margin: 0 auto">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>

                        @Html.ActionLink("ACTUALIZAR", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("DETALLE", "Details", new { id = item.Id }) |
                        @Html.ActionLink("ELIMINAR", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
        <br />
        <br />
    </div>
 </div>
