﻿@model Programacion.Models.Proveedor

@{
    ViewBag.Title = "Create";
}

<div id="contact" class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="section-title">REGISTRAR PROVEEDOR</h1>
            </div> <!-- /.col-md-12 -->
        </div> <!-- /.row -->
        <form method="post" style="background-color: #D8F6CE; width: 800px; margin: 0 auto">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()



                @Html.ValidationSummary(true)
    <table>

        <tr>
            <td>
                @Html.LabelFor(model => model.Nombre, new { @class = "control-label col-md-2" }) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
                @Html.EditorFor(model => model.Nombre)
                @Html.ValidationMessageFor(model => model.Nombre)
            </td>

            <td>
                @Html.LabelFor(model => model.Direccion, new { @class = "control-label col-md-2" }) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
                @Html.EditorFor(model => model.Direccion)
                @Html.ValidationMessageFor(model => model.Direccion)
            </td>

            <td>
                @Html.LabelFor(model => model.Telefono, new { @class = "control-label col-md-2" }) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
                @Html.EditorFor(model => model.Telefono)
                @Html.ValidationMessageFor(model => model.Telefono)
            </td>
        </tr>

        <tr>
            <td>
                @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" }) &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; 
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </td>

            <td>
                @Html.LabelFor(model => model.Ciudad, new { @class = "control-label col-md-2" }) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
                @Html.EditorFor(model => model.Ciudad)
                @Html.ValidationMessageFor(model => model.Ciudad)
            </td>

            <td>
                @Html.LabelFor(model => model.Departamento, new { @class = "control-label col-md-2" }) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
                @Html.EditorFor(model => model.Departamento)
                @Html.ValidationMessageFor(model => model.Departamento)
            </td>
        </tr>

        <tr>
            <td>
                @Html.LabelFor(model => model.Tipo, new { @class = "control-label col-md-2" }) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
                @Html.EditorFor(model => model.Tipo)
                @Html.ValidationMessageFor(model => model.Tipo)
            </td>
        </tr>
    </table>

                <fieldset class="col-md-12 text-center">
                    <input type="submit" value="REGISTRAR" class="button" />
                </fieldset>

            }

            <fieldset class="col-md-12 text-center">
                @Html.ActionLink("VOLVER A LA LISTA", "Index")
            </fieldset>
       </form>
</div>
 </div>


        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
