﻿@model Programacion.Models.Proveedor

@{
    ViewBag.Title = "Delete";
}

<div id="contact" class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="section-title">ELIMINAR PROVEEDOR</h1>
            </div> <!-- /.col-md-12 -->
        </div> <!-- /.row -->

       
        <div style="background-color: #D8F6CE; width: 500px; margin: 0 auto">

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nombre)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Direccion)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Direccion)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Telefono)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Telefono)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Ciudad)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Ciudad)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Departamento)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Departamento)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Tipo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Tipo)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="ELIMINAR" class="button" /> |
                    @Html.ActionLink("VOLVER A LA LISTA", "Index")
                </div>
            }
        </div>
    </div>
 </div>

