﻿@using Microsoft.AspNet.Identity
@model Programacion.Models.ManageUserViewModel


<form method="post" style="background-color: #D8F6CE; width: 650px; margin: 0 auto">
    @using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary()
        <fieldset class="col-md-12 text-center">
        @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })

        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
        </fieldset>
        <fieldset class="col-md-12 text-center">
            @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })

            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
        </fieldset>
        <fieldset class="col-md-12 text-center">
              @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })

              @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
         </fieldset> 

    <fieldset class="col-md-12 text-center">
        <input type="submit" value="Cambiar contraseña" class="button" />
    </fieldset>

        }
</form>
