﻿@model Programacion.Models.LoginViewModel

@{
    ViewBag.Title = "Iniciar sesión";
}

<div id="contact" class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="section-title">LOGIN</h1>
            </div> <!-- /.col-md-12 -->
        </div> <!-- /.row -->
       
            
        <form method="post" style="background-color: #D8F6CE; width: 650px; margin: 0 auto">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true)

                <fieldset class="col-md-12 text-center">
                    @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.UserName)

                </fieldset>

                <fieldset class="col-md-12 text-center">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })

                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password)

                </fieldset>
                <fieldset class="col-md-12 text-center">


                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)


                </fieldset>
                <fieldset class="col-md-12 text-center">

                    <input type="submit" value="Iniciar sesión" class="button" />

                </fieldset>

            }

        </form>




     </div>
 </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
