﻿@using Programacion.Models;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Administrar cuenta";
}

<div id="contact" class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="section-title">ADMINISTRADOR DE CUENTA</h1>
            </div> <!-- /.col-md-12 -->
        </div> <!-- /.row -->

        <p class="text-success">@ViewBag.StatusMessage</p>
        
                @if (ViewBag.HasLocalPassword)
                {
                    @Html.Partial("_ChangePasswordPartial")
                }
                else
                {
                    @Html.Partial("_SetPasswordPartial")
                }

               
            
   </div>
 </div>
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
