﻿@model Programacion.Models.RegisterViewModel
@{
    ViewBag.Title = "Registrarse";
}

<div id="contact" class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="section-title">REGISTRARSE</h1>
            </div> <!-- /.col-md-12 -->
        </div> <!-- /.row -->
        <form method="post" style="background-color: #D8F6CE; width: 650px; margin: 0 auto">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary()
                <fieldset class="col-md-12 text-center">
                    @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })

                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })

                </fieldset>
                <fieldset class="col-md-12 text-center">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })

                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })

                </fieldset>
                <fieldset class="col-md-12 text-center">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })

                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })

                </fieldset>
                <fieldset class="col-md-12 text-center">

                    <input type="submit" class="button" value="Registrarse" />

                </fieldset>
            }
        </form>
     </div>
  </div>


        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
