﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - INWEB.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="description" content="">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet">


    <link href="~/Content/animate.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/normalize.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/templatemo_misc.css" rel="stylesheet" />
    <link href="~/Content/templatemo_style.css" rel="stylesheet" />

    <script src="Scripts/vendor/modernizr-2.6.2.min.js"></script>
    <script src="~/Scripts/_references.js"></script>
    <script src="~/Scripts/jquery-1.10.2.intellisense.js"></script>
    
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
   
    <script src="~/Scripts/jquery-ui-1.10.3.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.3.min.js"></script>
   
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/knockout-2.3.0.debug.js"></script>
    <script src="~/Scripts/knockout-2.3.0.js"></script>
    
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
   


</head>
<body style="background-color:#D8F6CE">
    @*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Nombre de aplicación", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>*@

    <header>

        <!--[if lt IE 7]>
         <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a

        href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
         <![endif]-->
        <div id="front">
            <div class="site-header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-6 col-xs-6">
                            <div id="templatemo_logo">
                                <h1><a href="~/Home/Index">INWEB.NET</a></h1>
                            </div> <!-- /.logo -->
                        </div> <!-- /.col-md-4 -->
                       
                        @Html.Partial("_LoginPartial")

                    </div>
                </div>

            </div> <!-- /.row -->


        </div> <!-- /.container -->

    </header>

    @RenderBody()
    
   
   


    <footer style ="background-color:#D8F6CE">
        <div class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <span style="font-size:15px">
                            Copyright &copy; 2015 <a href="http://www.desarrolloweb.com/" target="_blank">Developers world</a>
                        </span>
                        <span style="font-size:15px">Diseñado por: <a href="https://plus.google.com/u/0/116586986162089632869/posts" target="_blank">Ing. Jorge David Antury Jaramillo</a>, <a href="http://www.templatemo.com" target="_blank">Ing. Leidy Viviana Figueroa</a></span>

                    </div> <!-- /.col-md-6 -->
                    <div class="col-md-6 col-sm-6">
                        <ul class="social">
                            <li><a href="https://www.facebook.com/" target="_blank" class="fa fa-facebook"></a></li>
                            <li><a href="https://twitter.com/?lang=es" target="_blank" class="fa fa-twitter"></a></li>
                            <li><a href="https://instagram.com/" target="_blank" class="fa fa-instagram"></a></li>
                            <li><a href="https://co.linkedin.com/" target="_blank" class="fa fa-linkedin"></a></li>

                        </ul>
                    </div> <!-- /.col-md-6 -->
                </div> <!-- /.row -->
            </div> <!-- /.container -->
        </div> <!-- /.site-footer -->
    </footer>
    
    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")*@
    @RenderSection("scripts", required: false)

    <script src="~/Scripts/vendor/jquery-1.10.1.min.js"></script>
    <script>window.jQuery || document.write('<script src="~/Scripts/vendor/jquery-1.10.1.min.js"><\/script>')</script>
    <script src="~/Scripts/jquery.easing-1.3.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/plugins.js"></script>
    <script src="~/Scripts/main.js"></script>
    <!-- templatemo 401 sprint -->
   
</body>
</html>
