﻿@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()
    <nav>
        <ul class="nav navbar-nav">
            @*<li style="background-color: white"> @Html.ActionLink("CATEGORIA DE PRODUCTO", "Index", "Categoria")</li>
            <li style="background-color: white"> @Html.ActionLink("REGISTRAR PRODUCTO PRODUCTO", "Create", "Categoria")</li>*@

            <li class="dropdown" style="background-color: white">
                <a class="dropdown-toggle" data-toggle="dropdown">CATEGORIA PRODUCTO<span class="caret"></span></a>
                <ul class="dropdown-menu" aria-labelledby="themes">
                    <li style="background-color: white"> @Html.ActionLink("REGISTRAR CATEGORIA", "Create", "Categoria")</li>
                    <li style="background-color: white"> @Html.ActionLink("LISTA DE CATEGORIA", "Index", "Categoria")</li>
                   
                </ul>
            </li>
           
                   
            <li class="dropdown" style="background-color: white">
                <a class="dropdown-toggle" data-toggle="dropdown">PRODUCTO<span class="caret"></span></a>
                <ul class="dropdown-menu" aria-labelledby="themes">
                    <li style="background-color: white"> @Html.ActionLink("REGISTRAR PRODUCTO", "Create", "Producto")</li>
                    <li style="background-color: white"> @Html.ActionLink("LISTA DE PRODUCTOS", "Index", "Producto")</li>

                </ul>
            </li>

            <li class="dropdown" style="background-color: white">
                <a class="dropdown-toggle" data-toggle="dropdown">PROVEEDOR<span class="caret"></span></a>
                <ul class="dropdown-menu" aria-labelledby="themes">
                    <li style="background-color: white"> @Html.ActionLink("REGISTRAR PROVEEDOR", "Create", "Proveedor")</li>
                    <li style="background-color: white"> @Html.ActionLink("LISTA DE PROVEEDORES", "Index", "Proveedor")</li>

                </ul>
            </li>

            <li style="background-color: white"> @Html.ActionLink("EMPRESA", "Index", "Empresa")</li>

                    
               
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li style="background-color: white">
                @Html.ActionLink("HOLA " + User.Identity.GetUserName() + "!", "Manage", "Account", routeValues: null, htmlAttributes: new { title = "Administrar" })
            </li>
            <li style="background-color: white"><a href="javascript:document.getElementById('logoutForm').submit()">CERRAR SESIÓN</a></li>
        </ul>
    </nav>
    }
}
else
{
    <nav>
        <ul class="nav navbar-nav navbar-right">
            <li style="background-color: white">@Html.ActionLink("REGISTRARSE", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li style="background-color: white">@Html.ActionLink("INICIAR SESIÓN", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li style="background-color: white"> @Html.ActionLink("INICIO", "Index", "Home")</li>
            <li style="background-color: white">@Html.ActionLink("SERVICIOS", "About", "Home")</li>
            <li style="background-color: white">@Html.ActionLink("CONTACTO", "Contact", "Home")</li>
        </ul>
           

       
    </nav>
}
