﻿@model Programacion.Models.Producto

@{
    ViewBag.Title = "Create";
}

<div id="contact" class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="section-title">REGISTRAR PRODUCTO</h1>
            </div> <!-- /.col-md-12 -->
        </div> <!-- /.row -->

        <form method="post" style="background-color: #D8F6CE; width: 600px; margin: 0 auto">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)


    <table>
        <tr>
            <td>
                @Html.LabelFor(model => model.Nombre, new { @class = "control-label col-md-2" }) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                @Html.EditorFor(model => model.Nombre)
                @Html.ValidationMessageFor(model => model.Nombre)
            </td>




            <td>
                @Html.LabelFor(model => model.Marca, new { @class = "control-label col-md-2" }) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                @Html.EditorFor(model => model.Marca)
                @Html.ValidationMessageFor(model => model.Marca)
            </td>
        </tr>

        <tr>
            <td>
                @Html.LabelFor(model => model.Precio, new { @class = "control-label col-md-2" }) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                @Html.EditorFor(model => model.Precio)
                @Html.ValidationMessageFor(model => model.Precio)
            </td>


            <td>
                @Html.LabelFor(model => model.Stock, new { @class = "control-label col-md-2" }) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                @Html.EditorFor(model => model.Stock)
                @Html.ValidationMessageFor(model => model.Stock)
            </td>
        </tr>
    </table>


                               <fieldset class="col-md-12 text-center">
                                    <input type="submit" value="REGISTRAR" class="button" />
                                </fieldset>


            }
                    <fieldset class="col-md-12 text-center">
                        @Html.ActionLink("VOLVER A LA LISTA", "Index")
                    </fieldset>
      </form>




          

</div>
</div>


        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
