﻿@model Programacion.Models.Producto

@{
    ViewBag.Title = "Delete";
}

<div id="contact" class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="section-title">ELIMINAR PRODUCTO</h1>
            </div> <!-- /.col-md-12 -->
        </div> <!-- /.row -->
        <div style="background-color: #D8F6CE; width: 500px; margin: 0 auto">

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Nombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Nombre)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Marca)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Marca)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Precio)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Precio)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Stock)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Stock)
                </dd>

            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

    <div class="form-actions no-color" style="background-color: #D8F6CE; width: 500px; margin: 0 auto">
        <input type="submit" value="ELIMINAR" class="button" /> |
        @Html.ActionLink("VOLVER A LA LISTA", "Index")
    </div>
            }
        </div>
    </div>
 </div>

