﻿@model Programacion.Models.Producto

@{
    ViewBag.Title = "Edit";
}

<div id="contact" class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="section-title">ACTUALIZAR PRODUCTO</h1>
            </div> <!-- /.col-md-12 -->
        </div> <!-- /.row -->



        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

 <form method="post" style="background-color: #D8F6CE; width: 2000px; margin: 0 auto">

        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

    <table>
        <tr>
            <td>
                @Html.LabelFor(model => model.Nombre, new { @class = "control-label col-md-2" }) &nbsp; &nbsp; &nbsp; &nbsp;
                @Html.EditorFor(model => model.Nombre)
                @Html.ValidationMessageFor(model => model.Nombre)
            </td>

            <td>
                @Html.LabelFor(model => model.Marca, new { @class = "control-label col-md-2" }) &nbsp; &nbsp; &nbsp; &nbsp;
                @Html.EditorFor(model => model.Marca)
                @Html.ValidationMessageFor(model => model.Marca)
            </td>
        </tr>

        <tr>
            <td>
                @Html.LabelFor(model => model.Precio, new { @class = "control-label col-md-2" }) &nbsp; &nbsp; &nbsp; &nbsp;
                @Html.EditorFor(model => model.Precio)
                @Html.ValidationMessageFor(model => model.Precio)
            </td>

            <td>
                @Html.LabelFor(model => model.Stock, new { @class = "control-label col-md-2" }) &nbsp; &nbsp; &nbsp; &nbsp;
                @Html.EditorFor(model => model.Stock)
                @Html.ValidationMessageFor(model => model.Stock)
            </td>
        </tr>
    </table>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="ACTUALIZAR" class="button" />
            </div>
        </div>
 </form>
   
        }

       
        <div class="form-group" style="background-color: #D8F6CE; width: 500px; margin: 0 auto">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("VOLVER A LA LISTA", "Index")
            </div>
        </div>
    </div>
 </div>


        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
