﻿@model IEnumerable<Programacion.Models.Producto>

@{
    ViewBag.Title = "Index";
}

<div id="contact" class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="section-title">LISTA DE PRODUCTOS</h1>
            </div> <!-- /.col-md-12 -->
        </div> <!-- /.row -->

        <p>
            @Html.ActionLink("REGISTRAR", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Marca)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Precio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Stock)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Marca)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Precio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Stock)
                    </td>
                    <td>
                        @Html.ActionLink("ACTUALIZAR", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("DETALLE", "Details", new { id = item.Id }) |
                        @Html.ActionLink("ELIMINAR", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }

        </table>
    </div>
 </div>

