﻿@model Programacion.Models.Empresa

@{
    ViewBag.Title = "Details";
}

<div id="contact" class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="section-title">DETALLE EMPRESA</h1>
            </div> <!-- /.col-md-12 -->
        </div> <!-- /.row -->

        <div class="form-group">
            <br />
            <div class="col-md-offset-2 col-md-10" style="background-color: #D8F6CE; width: 500px; margin: 0 auto">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Nombre)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Nombre)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Direccion)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Direccion)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Telefono)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Telefono)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Ciudad)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Ciudad)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Departamento)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Departamento)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Tipo)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Tipo)
                    </dd>

                </dl>
            </div>
           </div>
        <br />
        <br />
        <div class="form-group" style="background-color: #D8F6CE; width: 500px; margin: 0 auto">
            <div class="col-md-offset-2 col-md-10">
                @Html.ActionLink("ACTUALIZAR EMPRESA", "Edit", new { id = Model.Id }) |
                @Html.ActionLink("VER EMPRESA", "Index")
            </div>
        </div>
     </div>
  </div>
