﻿@model Programacion.Models.Empresa

@{
    ViewBag.Title = "Edit";
}

<div id="contact" class="content-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="section-title">ACTUALIZAR EMPRESA</h1>
            </div> <!-- /.col-md-12 -->
        </div> <!-- /.row -->
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

    <form method="post" style="background-color: #D8F6CE; width: 2000px; margin: 0 auto">

        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <table>
            <tr>
                <td>
                    @Html.LabelFor(model => model.Nombre, new { @class = "control-label col-md-2" }) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    @Html.EditorFor(model => model.Nombre)
                    @*@Html.ValidationMessageFor(model => model.Nombre)*@
                </td>



                <td>
                    @Html.LabelFor(model => model.Direccion, new { @class = "control-label col-md-2" }) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    @Html.EditorFor(model => model.Direccion)
                    @*@Html.ValidationMessageFor(model => model.Direccion)*@
                </td>



                <td>
                    @Html.LabelFor(model => model.Telefono, new { @class = "control-label col-md-2" }) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    @Html.EditorFor(model => model.Telefono)
                    @*@Html.ValidationMessageFor(model => model.Telefono)*@
                </td>
            </tr>


            <tr>
                <td>
                    @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2" }) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    @Html.EditorFor(model => model.Email)
                    @*@Html.ValidationMessageFor(model => model.Email)*@
                </td>



                <td>
                    @Html.LabelFor(model => model.Ciudad, new { @class = "control-label col-md-2" }) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    @Html.EditorFor(model => model.Ciudad)
                    @*@Html.ValidationMessageFor(model => model.Ciudad)*@
                </td>



                <td>
                    @Html.LabelFor(model => model.Tipo, new { @class = "control-label col-md-2" }) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    @Html.EditorFor(model => model.Tipo)
                    @*@Html.ValidationMessageFor(model => model.Tipo)*@
                </td>
            </tr>

            <tr>
                <td>
                    @Html.LabelFor(model => model.Departamento, new { @class = "control-label col-md-2" }) &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    @Html.EditorFor(model => model.Departamento)
                    @*@Html.ValidationMessageFor(model => model.Departamento)*@
                </td>
            </tr>
        </table>


          <div class="form-group" style="background-color: #D8F6CE; width: 500px; margin: 0 auto">
              <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="ACTUALIZAR" class="button" />
                  @Html.ActionLink(" VOLVER A LA LISTA", "Index")
              </div>
          </div>
    </form>
        }

        
     </div>
  </div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
