﻿@model IEnumerable<Programacion.Models.Empresa>

@{
    ViewBag.Title = "Index";
}

<div id="contact" class="content-section">
    <div class="container">
        <br />
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="section-title">LISTA DE EMPRESA</h1>
            </div> <!-- /.col-md-12 -->
        <br />
        <br />
        <br />
        <br />
        </div> <!-- /.row -->

       @*<p>@Html.ActionLink("REGISTRAR EMPRESA", "Index", "Empresa")</p>*@
@foreach (var item in Model)
            {
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Direccion)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Telefono)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ciudad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Departamento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tipo)
                </th>
                <th></th>
            </tr>

           
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Direccion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Telefono)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ciudad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Departamento)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tipo)
                    </td>
                   
                </tr>
            

        </table>
    <br />
    <br />
       <div class="form-group" style="background-color: #D8F6CE; width: 500px; margin: 0 auto">
            <div class="col-md-offset-2 col-md-10">
              @Html.ActionLink("VER DETALLE DE LA EMPRESA", "Details", new { id = item.Id }) 
            </div>
        </div>
            }
        <br />
        <br />
        
    </div>
 </div>
