﻿@{
    ViewBag.Title = "About";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="section-title">Servicios</h1>
        </div> <!-- /.col-md-12 -->
    </div> <!-- /.row -->
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="service-item">
                <span class="service-icon first"></span>
                <h3>Información de Producto</h3>
                <p>
                    En la información del producto se puede consultar todos los productos y su categoria de las empresas registradas en el sistema

                    INWEB.NET
                </p>
            </div> <!-- /.service-item -->
        </div> <!-- /.col-md-3 -->
        <div class="col-md-3 col-sm-6">
            <div class="service-item">
                <span class="service-icon second"></span>
                <h3>Información de Proveedor</h3>
                <p>
                    En la información del proveedor se puede consultar todos los proveedores y los productos que suministra a las empresas registradas en el

                    sistema INWEB.NET
                </p>
            </div> <!-- /.service-item -->
        </div> <!-- /.col-md-3 -->
        <div class="col-md-3 col-sm-6">
            <div class="service-item">
                <span class="service-icon third"></span>
                <h3>Información de Cliente</h3>
                <p>
                    En la información del cliente se puede consultar todos los clientes y los productos que adquiere mediante la empresa que se encuentre

                    registrada en el sistema INWEB.NET
                </p>
            </div> <!-- /.service-item -->
        </div> <!-- /.col-md-3 -->
        <div class="col-md-3 col-sm-6">
            <div class="service-item">
                <span class="service-icon fourth"></span>
                <h3>Información de Empresa</h3>
                <p>
                    En la información de la empresa se puede consultar la información de la empresa registrada en el sistema de inventario

                    INWEB.NET
                </p>
            </div> <!-- /.service-item -->
        </div> <!-- /.col-md-3 -->
    </div> <!-- /.row -->
</div> <!-- /.container -->
